APP_INSTANCE=ayudas
APP_TITLE=Ayudas
APP_ABREV=Ayudas
APP_DOMAIN=ayudas.municipiogfvarela.gob.ar
APP_HTTP_PORT=8080
APP_DB_NAME=municipiogfvarel_ayudas
APP_DB_USER=ayudas_app
APP_DB_PASSWORD=cambie_esta_clave
APP_DB_ROOT_PASSWORD=cambie_esta_clave_root
APP_SQL_DUMP=database/dumps/municipiogfvarel_ayudas.sql
