APP_INSTANCE=becas
APP_TITLE=Becas
APP_ABREV=Becas
APP_DOMAIN=becas.municipiogfvarela.gob.ar
APP_HTTP_PORT=8081
APP_DB_NAME=municipiogfvarel_becas
APP_DB_USER=becas_app
APP_DB_PASSWORD=cambie_esta_clave
APP_DB_ROOT_PASSWORD=cambie_esta_clave_root
APP_SQL_DUMP=database/dumps/becas.sql
